{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block 'body' %}
<div class="album py-5 bg-light">
    <h1>List of Input addresses</h1> 
    <div class="container"> 
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
            {% for adr in inputAddresses %} 
            <div class="col">
                i 
                {% include "components/listing_InputAddresses.html" %} 
                <!-- <p>{{dev.id}}</p>  -->
            </div> 
            {% endfor %} 
        </div> 
    </div> 
</div>

<div class="container-fluid text-center py-5">
    <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4">
            <div class="col d-flex align-items-start">
                <div>
                   
                </div>
            </div>

        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <!-- <div class="col-6"> -->
                    {{inputAddressForm|crispy}}
                <!-- </div> -->

            </div>
            <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-lg btn-danger" type="submit">Save</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}