{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block 'body' %}
<!-- <div class="album py-5 bg-light"> -->
    <h1>List of Influx Measurement
        <a href="{% url 'AddMeasurement' %}" type="button" class="btn btn-sm btn-outline-secondary">Add Measurement</a>
    </h1>
    <div class="col-lg-6 col-md-8 mx-auto">
        <form method="get">
            {{influxMeasurementFilter.form|crispy}}
            <button class="btn btn-sm btn-danger" type="submit">filter</button>
        </form>
    </div>  
    <div class="container"> 
        <div class="card overflow-auto" style="background-color: #f0f8ff; padding: 20px;">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
            {% for adr in influxMeasurementFilter.qs %} 
            <div class="col">
                
                {% include "components/listing_Measurements.html" %} 
                <!-- <p>{{dev.id}}</p>  -->
            </div> 
            {% endfor %} 
        </div>
        </div> 
    </div> 
<!-- </div> -->


{% endblock %}