{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block 'body' %}
<div class="container-fluid text-center py-5">
    <div class="container px-4 py-5" id="hanging-icons">
        <div class="row g-4">
            <div class="col d-flex align-items-start">
                <div>
                   
                </div>
            </div>

        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                
                <!-- <div class="col-6"> -->
                    {{myform|crispy}}
                <!-- </div> -->
                

            </div>
            <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-lg btn-danger" type="submit">Login</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}