<div class="card shadow-sm mb-3" style="max-width: 18rem;"> 
    <div class="card-body"> 
        <h5 class="card-title">{{dev.device_name}}
            <a href="{% url 'RemoveInputDevice'  device_id=dev.device_id %}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
        </h5> 
        <ul class="list-unstyled mb-3"> 
            <li>{{dev.device_id}}</li> 
            <li>{{dev.ip_address}}</li> 
            <li>{{dev.port}}</li> 
            
        </ul> 
        <div class="d-flex justify-content-end"> 
            <a href="{% url 'EditInflux' device_id=dev.device_id %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
            <a href="{% url 'AddMeasurement' %}" type="button" class="btn btn-sm btn-outline-secondary">Add Measurement</a>
            <a href="{% url 'ListMeasurement' %}" type="button" class="btn btn-sm btn-outline-secondary">List Measurement</a> 
            
        </div> 
    </div> 
</div>