<div class="card shadow-sm mb-3" style="max-width: 18rem;"> 
    <div class="card-body"> 
        <h5 class="card-title">{{dev.device_name}}</h5> 
        <ul class="list-unstyled mb-3"> 
            <li>{{dev.input_device_id}}</li> 
            <li>{{dev.ip_address}}</li> <li>{{dev.port}}</li> 
            <li>{{dev.device_protocol}}</li> 
        </ul> 
        <div class="d-flex justify-content-end"> 
            <a type="button" class="btn btn-sm btn-outline-secondary">Edit</a> 
        </div> 
    </div> 
</div>