<div class="card shadow-sm mb-3" style="max-width: 18rem;"> 
    <div class="card-body"> 
        <h5 class="card-title">{{adr.variable_name}}
            <a href="{% url 'RemoveInputAddress'  address_id=adr.address_id %}" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
        </h5> 
        <ul class="list-unstyled mb-3"> 
            
            <li>{{adr.variable_name}}</li> 
            <li>{{adr.address}}</li>
            <li>Data: {{adr.data}}</li>  
            <li>{{adr.device}}</li> 
        </ul> 
        <div class="d-flex justify-content-end"> 
            <a href="{% url 'EditAddress' address_id=adr.address_id %}" type="button" class="btn btn-sm btn-outline-secondary">Edit</a> 
        </div> 
    </div> 
</div>